*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#a9828e, #55717d);
    margin-left: 50px;
    padding: 40px;
    margin: auto;
}

h1{
    margin-top: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

header{
    height: 265px;
    background-color: transparent;
    text-align: center;
}

#uno{
    text-align: justify;
    margin: 60px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

h2{
    margin: 15px;
    font-family: 'Lucida Sans', sans-serif;
    text-shadow: 3px 3px 8px #a148d1;
}

hr{
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-bottom-color: rebeccapurple;
    margin-top: 25px;
    position: relative;
    top: 0; left: 0px;
    color: rebeccapurple;
}

#yo{
    width: 120px;
    border-radius: 60px;
    border-color: rebeccapurple;
    position: absolute;
    top: 113px; left: 20px;
}

#yo{
    border-style: solid;
    border-width: 10px 10px 10px 10px;
}

#l-t ul{
    list-style-image: url(llamada.jpg.png);
    margin-left: 30px;
}

#l-c ul{
    list-style-image: url(correo.jpg.png);
    margin-left: 40px;
}

#l-h ul{
    list-style-image: url(casa.jpg.png);
    margin-left: 40px;
}

article {
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', sans-serif;
    padding: 80px 50px;
    height: 100px;
    list-style: none;
}

.ee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 60px 50px;
}

#s1 h2{
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    text-shadow: 3px 3px 8px #a148d1;
}

#tres{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}



#a-t{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    border-right: 6px solid rgb(165, 170, 170);
}

#cuatro{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#t-u{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#cinco{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#p-s{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    border-right: 6px solid rgb(154, 167, 167);
}

#seis{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#p-c{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#siete{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

#p-m{
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    border-right: px solid rgb(251, 220, 248);
}

.c1{
    display: flex;
    height: 900px;
    flex-wrap: wrap;
    align-content: space-between;
    border: #050505;
}

.c4 h2{
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    text-shadow: 3px 3px 8px #a148d1;
}

#a-ex{
    text-align: left;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}
